<section>
    <!--Detalle de cada producto-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <img id="zoom1" src="/fotos/{{DescripProductos.imagen}}"
                                data-zoom-image="/fotos/{{DescripProductos.imagen}}" alt="big-1">
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">


                        <h1>{{DescripProductos.nombre}}</h1>

                        <div class=" price_box">
                            <span class="current_price">{{DescripProductos.precio}}</span>

                        </div>
                        <div class="product_desc">
                            <p>{{DescripProductos.descripcion}}</p>
                        </div>

                        <div class="product_variant quantity">
                            <form method="POST" action="/productos/carro/agregar">
                                <input type="hidden" name="nombre" value="{{DescripProductos.nombre}}">
                                <input type="hidden" name="precio" value="{{DescripProductos.precio}}">
                                <label>Cantidad</label>

                                <input min="1" max="100" value="1" name="cantidad" type="number">
                                <input type="hidden" name="id_productos" value="{{DescripProductos.id_productos}}">
                                <button class="btn btn-info  " type="submit">Añadir al carrito</button>
                            </form>


                        </div>
                        <div class="product_meta">

                            <p><span>Marca: </span>{{DescripProductos.marca}}</p>
                        </div>
                        <div class="product_meta">
                            <p><span>Vendedor: </span>{{DescripProductos.vendedor}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Productos sugeridos-->
<section class="product_area upsell_products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Más productos</h2>
                </div>
            </div>
        </div>

        <div class="product_carousel product_column4 owl-carousel">
            {{#each ListadoProductosGene}}
            <article class="single_product">

                <figure>
                    <div class="product_thumb">
                        <a class="primary_img" href="/productos/listado_productos/{{id_productos}}"><img
                                src="/fotos/{{imagen}}" alt=""></a>
                        <div class="label_product">
                            <span class="label_sale">sale</span>
                        </div>
                    </div>
                    <figcaption class="product_content">
                        <div class="price_box">
                            <span class="current_price">$79.00</span>
                        </div>
                        <h3 class="product_name">{{nombre}}</h3>
                    </figcaption>
                </figure>

            </article>

            {{/each}}
        </div>
    </div>
</section>